# Browser configuration
BROWSER_EXECUTABLE_PATH=/usr/bin/google-chrome-stable
BROWSER_TIMEZONE=Europe/Berlin

# Sessions configuration
MAX_PARALLEL=1

START_PAGE_URL=https://google.com/

# Use proxies.txt file in format domain:port:login:password to setup the proxies
